@media (min-width: 1600px) and (max-width: 1799px) {
  .hero-left-shape {
    left: 50px;
  }

  .hero-right-shape {
    right: 50px;
  }

  .work-shape3 {
    right: 23%;
  }

  .work-shape1 {
    left: 20%;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .hero-left-shape {
    left: 50px;
  }

  .hero-right-shape {
    right: 50px;
  }

  .work-shape3 {
    right: 23%;
  }

  .work-shape1 {
    left: 20%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-left-shape {
    left: 50px;
  }

  .hero-right-shape {
    right: 50px;
  }

  .work-shape3 {
    right: 23%;
  }

  .work-shape1 {
    left: 20%;
  }

  .work-shape2 {
    bottom: 36px;
    left: 48%;
    transform: rotate(359deg);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-left-shape {
    left: 50px;
  }

  .hero-right-shape {
    right: 50px;
  }

  .hero-content h1 {
    font-size: 48px;
    line-height: 55px;
  }

  .dashboard-slide img {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }

  .section-title h2,
  .column-content .section-title h2,
  .work-wrapper .work-title h2,
  .signup-content h2 {
    font-size: 40px;
  }

  .work-shape1,
  .work-shape2,
  .work-shape3 {
    display: none;
  }

  .pricing-card-wrapper {
    padding: 50px 50px 0;
  }

  .footer-menu {
    padding-left: 100px;
  }

  .price h2 {
    font-size: 56px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-left-shape {
    left: 20px;
  }

  .hero-right-shape {
    right: 20px;
  }

  .hero-left-shape img,
  .hero-right-shape img {
    width: 70%;
  }

  .hero-right-shape img {
    float: right;
  }

  .hero-content h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .dashboard-slide img {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }

  .section-title h2,
  .column-content .section-title h2,
  .work-wrapper .work-title h2,
  .signup-content h2 {
    font-size: 36px;
  }

  .work-shape1,
  .work-shape2,
  .work-shape3 {
    display: none;
  }

  .pricing-card-wrapper {
    padding: 50px 0 0;
  }

  .price h2 {
    font-size: 48px;
  }

  .pricing-bottom {
    width: 83%;
  }

  .footer-logo {
    max-width: 300px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .hero-left-shape,
  .hero-right-shape {
    display: none;
  }

  .hero-wrapper {
    padding: 150px 0 50px;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .dashboard-slide img {
    width: 80%;
    margin: auto;
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }

  .exchange-wrapper {
    padding-top: 0;
  }

  .section-title h2,
  .column-content .section-title h2,
  .work-wrapper .work-title h2,
  .signup-content h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .work-shape1,
  .work-shape2,
  .work-shape3 {
    display: none;
  }

  .work-card {
    margin-top: 50px !important;
  }

  .get-started-card h4,
  .footer-menu h4 {
    font-size: 22px;
  }

  .pricing-card-wrapper {
    padding: 50px 0 0;
  }

  .pricing-duration-buttons .nav-tabs {
    padding: 5px 10px;
  }

  .pricing-bottom {
    position: relative;
    width: 100%;
    bottom: 0;
  }

  .nav-tabs .nav-link {
    font-size: 18px;
  }

  .pricing-card-content h3 {
    font-size: 30px;
  }

  .price h2 {
    font-size: 40px;
  }

  .signup-content {
    padding: 50px 20px;
  }

  .footer-logo {
    max-width: 280px;
  }

  .footer-menu {
    padding-left: 0;
  }
}
